<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <header>
        @Html.Partial("_Header")
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
